<%- include("partials/dashheader") %>
<table class="table table-striped">
     <thead>
          <tr>
               <th scope="col">#</th>
               <th scope="col">Name</th>
               <th scope="col">Register Number</th>
               <th scope="col">Sub-group</th>
          </tr>
     </thead>
     <tbody>
          <tr>
          <th scope="row">1</th>
               <td>Aneesh Aparajit G</td>
               <td>20BRS1054</td>
               <td>Web App Development and Deployment</td>
          </tr>
          <tr>
               <th scope="row">2</th>
               <td>Pallaprolu Pragnesh Kumar</td>
               <td>20BRS1097</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">3</th>
               <td>Dhairya Gupta</td>
               <td>20BRS1077</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">4</th>
               <td>Shamsuddeen Saleem (C)</td>
               <td>20BRS1241</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">5</th>
               <td>Pasula Paul Vinay Kumar</td>
               <td>20BRS1181</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">6</th>
               <td>Aswin Sivadas</td>
               <td>20BRS1058</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">7</th>
               <td>Agniva Debsharma</td>
               <td>20BRS1165</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">8</th>
               <td>Prithu Shukla</td>
               <td>20BRS1099</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">9</th>
               <td>Eeshan Dhanuka</td>
               <td>20BRS1173</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">10</th>
               <td>Krishna Vinod</td>
               <td>20BRS1233</td>
               <td></td>
          </tr>
          <tr>
               <th scope="row">11</th>
               <td>P Sudhindra</td>
               <td>20BRS1260</td>
               <td></td>
          </tr>
     </tbody>
</table>
<%- include("partials/footer") %> 